/* Notes of CSS:

Order of priority:
1. Inline
2. Internal/External (depend on their order)
3. Browser 

NOTE: Internal & External are of same priority... so whichever of them come afterwards is choosen
*/
h1{
    color:skyblue;
    background-color:black;
    letter-spacing: 3px;
    text-shadow: 3px 0px 3px yellow;
}

p{
    color:red;
    background-color: yellowgreen;
    text-transform:capitalize;
}
a{
    text-transform:uppercase;
    text-decoration: none;
}
#spec{
    text-transform:uppercase;
}
#img{
    /* background-image: url=('css_background.webp');  -> keep in mind about the syntax... I did the mistake to put the equals to*/
    background-image: url('css_background.webp');
    background-size:cover;
    background-repeat:no-repeat;

}
/* body{
    background-image: url('background_css.jpeg');
    background-size:cover;
    background-repeat:no-repeat; */
}
h4{
    color:white;
    border: 2px solid skyblue ;
    border-radius:10px;
    /* padding:5px; */
    /* padding is used to give space between our content and our border */
    padding: 10px 30px 20px 50px; -> /*top right bottom left*/
}
.utm{
    color:yellowgreen;
    border: 5px dotted pink;
    padding: 10px;
    margin: 5px;
    margin: 10px 20px 40px 30px; /*top right bottom left*/
    /* margin is used to give space outside the border */
    outline: 5px solid skyblue;
    outline-offset: 10px;
}
.box_model{
    height:50px;
    width:200px;
    border:10px solid red;
    padding:15px;
    margin:20px;
}