.sidebar {
  width: 240px;
  background: white;
  padding: 15px;
  border-right: 1px solid #ddd;
}

.compose {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background: #c2e7ff;
  cursor: pointer;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.sidebar li:hover {
  background: #e8f0fe;
}

.active {
  background: #d3e3fd;
  font-weight: bold;
}