
.box_1{
    position: absolute;
    border: 2px solid red;
    height: 50px;
    width: 100px;
    top:100px;
    left:100px;
    background-color: aquamarine;
    z-index: 2;
}
.box_2{
    position: relative;
    border: 2px solid skyblue;
    height: 50px;
    width: 100px;
    top: 80px;
    left: 140px;
    background-color: yellow;
    z-index: 8;
}
.box_3{
    position: relative;
    border: 2px solid green;
    height: 50px;
    width: 100px;
    top: 50px;
    left: 120px;
    background-color: yellowgreen;
    z-index: 13;
}